GamePlaySchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2019 (https://www.liquid-technologies.com)-->
<xs:schema xmlns="https://www.w3schools.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GameData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Types" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row">
                                <xs:complexType>
                                    <xs:attribute name="Type" />
                                    <xs:attribute name="Kind" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Policies" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row">
                                <xs:complexType>
                                    <xs:attribute name="PolicyType" />
                                    <xs:attribute name="Name" />
                                    <xs:attribute name="Description" />
                                    <xs:attribute name="PrereqCivic" />
                                    <xs:attribute name="GovernmentSlotType" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PolicyModifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PolicyType" />
                                        <xs:element name="ModifierId" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ModifierId" />
                                        <xs:element name="ModifierType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ModifierArguments" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ModifierId" />
                                        <xs:element name="Name" />
                                        <xs:element name="Value" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>